<app-adminheader *ngIf="!isLoggedIn"></app-adminheader>
 <app-adminloggedinheader *ngIf="isLoggedIn == true"></app-adminloggedinheader>
 <div class="bg">
    <div class="view">
        <div *ngIf="flight">
            <table class="tbl">
                <thead>
                    <tr class="tr">
                        <th class="td" colspan="7">
                            <h1 class="h1">Are you sure you want to remove this flight?</h1>
                        </th>
                    </tr>
                    <tr class="th">
                        <th class="td">Flight Number</th>
                        <th class="td">Origin</th>
                        <th class="td">Destination</th>
                        <th class="td">Departure</th>
                        <th class="td">Arrival</th>                      
                    
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr">
                        <td class="td">
                            <div>
                                <img src="../../assets/adminplanelogo.png" class="head_logo">
                            </div>{{flight.flight_name}}</td>
                        <td class="td">{{flight.source_airport_id}}</td>
                        <td class="td">{{flight.destination_airport_id}}</td>
                        <td class="td">{{flight.departure_time  | date:'dd MMM yyyy hh:mm a'}}</td>
                        <td class="td">{{flight.arrival_time  | date:'dd MMM yyyy hh:mm a'}}</td>         
                    </tr>
                    
                    <tr class="tbt">
                        <td colspan="7">
                            <button class="bt delete" type="submit" (click)="delete(flight.flight_name)">Delete Flight</button>
                        </td>
                    </tr>
                    <tr class="tbt">
                        <td colspan="7">
                            <button class="bt" onclick="window.location='http://localhost:4200/viewallflights'">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
